@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    padding-top: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.wrapperRows {
    padding-top: 75px;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.cell {
    margin: 0 auto;
}

.cell > img, .cell > label > img{
    width:100%; /* you can use % */
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.lienAmis {
    -background-color: #b1f6a3d9;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 0.8em;
    padding: 5px;
    transition: 0.2s;
}